.heading{
    text-align: center;
    color: white;
    
}
.img{
    border-radius: 12px;
    height: 25rem;
    margin-top: 2rem;
}
.content{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
}
.sub-heading{
    text-decoration: underline;
}
.desc-content{
    width: 50%;
}
.book-button{
    margin-top: 33%;
    width: 17rem;
    height: 4rem;
    background: rgb(105, 10, 10);
    border: none;
    color: wheat;
    font-size: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border-radius: 37px;

}
.book-button:hover{
    background: red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.img-content{
    margin-bottom: 2rem;
}
