.App{
    background-color: rgb(54, 34, 34);
}
.screen{
    width: 75%;
    height: 3rem;
    background-color: rgb(206, 183, 183);
    margin: 0 auto 0 auto;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-top: 2rem;
    box-shadow: 1px 15px 20px #b9b9cf;
}
.container{
    flex:30%;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.seat-booking{
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 10rem 10rem 0 10rem;
}
.seat{
    cursor: pointer;
}


